doctype html
html(lang=locale)
    head
        meta(charset="utf-8")
        title=__('index.title')
        link(href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600" rel="stylesheet")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
        link(rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png")
        link(rel="shortcut icon" href="/favicon.ico")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        minify app
            link(href="app.styl" rel="stylesheet")
            link(href="try.styl" rel="stylesheet")
            link(href="css/prism.css" rel="stylesheet")
    body
        nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.site-navbar
            include menu.pug
        aside#try.try-phug.container-fluid(data-example="try" class=tryOpened ? 'opened' : '')
            include try.pug
        .container-fluid#top: .row.flex-nowrap
            nav.sidebar.col-lg-3.br-ribbed-light(data-anchor=anchor): nav.navbar.contents#contents
                nav.nav.flex-column
                    .d-lg-none
                        a.nav-link#try-link(href="#try" data-action="sidebar-nav" data-toggle="try")=__('index.try_phug')
                        a.nav-link(href="#language-reference" data-action="sidebar-nav")=__('index.language_reference')
                        a.nav-link(href="/api/namespaces/Phug.html" data-action="sidebar-nav")=__('index.api_reference')
                        a.nav-link(href="#resources" data-action="sidebar-nav" data-close="try")=__('index.resources')
                        a.nav-link(href="https://github.com/phug-php/phug/" data-action="sidebar-nav" data-close="try") GitHub
                        hr
                    .table-of-content
            main.main.col-lg-9.ml-auto
                h1 Phug
                p: em=__('index.title')
                p
                    =__('index.last_release')
                    | &nbsp;
                    a(href="https://packagist.org/packages/phug/phug")
                        img(
                            src="https://camo.githubusercontent.com/9ff236cbfba46cf8c9a6be7502a500f1bb09bd52/68747470733a2f2f706f7365722e707567782e6f72672f706875672f706875672f762f737461626c652e706e67"
                            alt=__('index.last_release')
                            data-canonical-src="https://poser.pugx.org/phug/phug/v/stable.png"
                        )
                    | &nbsp; &nbsp; | &nbsp;&nbsp;
                    =__('index.build_status')
                    | &nbsp;
                    a(href="https://travis-ci.org/phug-php/phug")
                        img(
                            src="https://camo.githubusercontent.com/4d30d769cc4ee366702a649921389a3aceebb130/68747470733a2f2f7472617669732d63692e6f72672f706875672d7068702f706875672e7376673f6272616e63683d6d6173746572"
                            alt=__('index.build_status')
                            data-canonical-src="https://travis-ci.org/phug-php/phug.svg?branch=master"
                        )
                include documentation.pug
        .d-none
            #edit-btn
                a.edit-btn.btn-light.btn(href="https://github.com/phug-php/website/edit/master/doc/" + locale + "/{id}.md")
                    img(src="img/edit.svg" width="16" height="16")
                    | &nbsp;
                    =__('index.edit')

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
            integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous")
        minify app
            script(src="js/remove-accents.js")
            script(src="app.coffee")
            script(src="js/prism.js")
        noscript: p: img(src="//piwik.selfbuild.fr/piwik.php?idsite=18" style="border:0;" alt="")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous")
